/* blog/static/blog/admin.css */

/* Estilos para la vista de código fuente de CKEditor */
.cke_source {
    background-color: #333 !important; /* Fondo oscuro para el código */
    color: #00FF00 !important; /* Color verde brillante para el texto (puedes ajustar este color) */
    font-family: 'Consolas', 'Monaco', 'monospace' !important; /* Fuente monoespaciada para el código */
    font-size: 14px !important; /* Tamaño de fuente para el código */
}

/* Ajuste para el color de los números de línea si aparecen */
.cke_source .cke_rtextarea {
    color: #00FF00 !important;
}